
.body {
    background-color: #C8EAD3;
    min-height: fit-content;
}

.navbar {
  background-color: #B6C8A9;
  align-content: center;
}

.homeText {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  display: flex;
  background-color: #B6C8A9;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    
}

.filter {
    padding: 5px;
    text-align: center;
    font-size: large;
    font-weight:bold;
    background-color: #B6C8A9;
    caret-color: transparent;
}

.taskItem {
    background-color: #CFFFE5;
    border-bottom: #C8EAD3 solid 1px;

}

.taskItemPriority {
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskItemText {
    display:flex;
    align-items:center;
    caret-color: transparent;
}

.taskItemButtons {
  display:flex;
  align-items:center;
  justify-content: start;
}

.taskItemOverdue {
    background-color: #FEB55D;
    border-bottom: #C8EAD3 solid 1px;
}

.addTaskForm {
    margin-bottom: 20px;
    text-align: center;
    font-size: large;
    font-weight:bold;
    background-color: #B6C8A9;
}

.errorMessage {
  color: #EC0B43;
}

.EditTaskForm {
    
    text-align: center;
    font-size: large;
    font-weight:bold;
    background-color: #CFFFE5;
}

.completed {
    text-decoration: line-through;
}

.btn-primary.navbarCollapseButton {
  background-color: #BA9593  !important;
  border-color: #BA9593 !important;
}

.btn-primary.navbarCollapseButton:hover {
  background-color: #A06C6A;  
    border-color: #A06C6A;    
}


.btn-primary.custom-submit-button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #BA9593;  
    border-color: #BA9593; 
  }

  .btn-primary.custom-submit-button:hover {
    background-color: #A06C6A;  
    border-color: #A06C6A;   
  }

  .btn-primary.custom-edit-button {
    background-color: #BA9593;  
    border-color: #BA9593; 
  }

  .btn-primary.custom-edit-button:hover {
    background-color: #A06C6A;  
    border-color: #A06C6A;   
  }

  .btn-primary.custom-edit-submit-button {
    margin-top: 5px;
    margin-right: 4px;
    width: 100%;
    background-color: #BA9593;  
    border-color: #BA9593; 
  }

  .btn-primary.custom-edit-submit-button:hover {
    background-color: #A06C6A;  
    border-color: #A06C6A;   
  }